body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVBAR */

.navbar {
  background-color: #4C6A6E;
}

.item-style {
  color: rgba(255,255,255,.8) !important
}

.white-bar {
  background-color: white;
  height: 10px;
}

.custom-btn {
  font-family: 'Raleway', sans-serif !important;
  border: none !important;
  color: white !important;
  background-color: rgba(0,0,0,0) !important;
}

#basic-nav-dropdown {
  color: rgba(255,255,255,.8) !important
}